<h1>Show Review</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @review.title %>
  </li>

  <li>
    <strong>Rating:</strong>
    <%= @review.rating %>
  </li>

  <li>
    <strong>Recommended:</strong>
    <%= @review.recommended %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @review.body %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.review_path(@conn, :edit, @review) %></span> |
<span><%= link "Back", to: Routes.review_path(@conn, :index) %></span>
